.browse_card_container_component {
  height: 340px;
  margin: 0px 0px 30px 0px;
  display: grid;
  grid-template-rows: 30px 310px;
  grid-template-columns: 100%;
}

.browse_card_container_component .browse_card_content_container {
  height: 310px;
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  flex-direction: row;
  overflow-x: auto;
}

.card_content_component {
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  height: 302px;
  width: 600px;
  margin: 0px 15px 0px 0px;
  grid-template-columns: 200px 400px;
  grid-template-rows: 60px 30px 30px 20px 160px;
}

.card_content_title_card {
  grid-row: 1 / span 5;
  grid-column: 1;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card_content_title {
  grid-row: 1;
  grid-column: 2;

  padding: 5px;
}

.card_content_author {
  grid-row: 2;
  grid-column: 2;

  padding: 5px;
}

.card_content_link {
  margin-left: 5px;
}

.card_content_categories {
  grid-row: 3;
  grid-column: 2;

  padding: 5px;
}

.card_content_description {
  grid-row: 5;
  grid-column: 2;
  line-height: 1.5;
  padding: 5px;
}
