#header_component {
  grid-row: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  padding: 5px 5px 0px 5px;
}

#header_nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

#header_nav a {
  margin: 1px 10px;
}

#header_nav .end_link {
  margin-left: auto;
}

#header_nav .conditional_link {
  display: none;
}

@media (min-width: 768px) {
  #header_nav .conditional_link {
    display: inline-block;
  }
}
