{{ define "globals_component" }}
  <title>FreeCreate</title>

  <!-- observe below commented out link for preloading -->
  <!-- <link rel="preload" href="static/globals.css" as="style" onload="this.rel='stylesheet'"> -->

  <link rel="stylesheet" href="/static/globals.css" />
  <link rel="stylesheet" href="/static/header_component.css" />
  <link rel="stylesheet" href="/static/sidebar_component.css" />
  <link rel="stylesheet" href="/static/footer_component.css" />

  <script defer type="module" src="/static/bundle.js"></script>
{{ end }}
