{{ define "home" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals" }}
      <script defer src="static/home_page.js"></script>
    </head>
    <body>
      {{ template "header" . }}
      <div id="lexical-editor"></div>
      <button id="post-hello">post</button>
      <p>will this reload?</p>
      <p>and what about this?</p>
      {{ template "searchBox" . }}
      {{ range .LoadedContent }}
        {{ template "contentCard"
          .
        }}
      {{ end }}

    </body>
  </html>
{{ end }}

{{ define "homeScript" }}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const postButton = document.getElementById("post-hello");
      let csrfToken = null;

      async function getCsrf() {
        try {
          const res = await fetch("/get-csrf", { credentials: "include" });
          csrfToken = res.headers.get("X-CSRF-token");
          console.log(res.headers.get("X-CSRF-token"));
        } catch (e) {
          console.error(e);
        }
      }
      getCsrf();

      postButton.addEventListener("click", postCsrf);

      async function postCsrf() {
        console.log(csrfToken);
        try {
          res = await fetch("/hello", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRF-Token": csrfToken,
            },
            credentials: "include",
            body: JSON.stringify({ message: "hello" }),
          });
          console.log(res);
        } catch (e) {
          console.error(e);
        }
      }
    });
  </script>
{{ end }}
