{{ define "home" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      {{ template "globals_component" }}


      <script defer src="static/home_page.js"></script>
    </head>

    <body>
      {{ template "header_component" . }}


      <div id="lexical-editor"></div>

      <button id="post-hello">post</button>

      <p>will this reload?</p>
      <p>and what about this?</p>

      <!-- {{ range .LoadedContent }}
        {{ template "contentCard"
          .
        }}
      {{ end }}
       -->
    </body>
  </html>
{{ end }}
