{{ define "home" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
      <script defer src="static/home_page.js"></script>
    </head>
    <body>
      {{ template "header_component" . }}


      <div id="page_container">
        {{ template "sidebar_component" . }}
        <div id="page_content">
          <p>home</p>
        </div>
      </div>

      {{ template "footer_component" . }}
    </body>
  </html>
{{ end }}
