{{ define "login_page" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
    </head>
    <body>
      {{ template "header_component" . }}
      {{ range .Errors }}
        <p>{{ . }}</p>
      {{ end }}
      {{ .RequestMethod }}
      <form action="/login" method="POST" autocomplete="off">
        {{ .CSRFToken }}
        <label>Email:</label>
        <input type="hidden" name="form_action" value="request_otp" />
        <input type="text" placeholder="enter your email address" />
        <input type="submit" />
      </form>
      <form action="/login" method="GET" autocomplete="off">
        <label>Search test:</label>
        <input
          type="text"
          name="search_field"
          value="{{ .Query }}"
          autocomplete="off"
          placeholder="type your search in here"
        />
        <input type="submit" value="search" />
      </form>
      <p>Enter your email address to receive a One Time Password via email.</p>
      <p>This password will last for five minutes.</p>
      <details>
        <summary>Submit otp</summary>
        <form action="/login" method="POST">
          {{ .CSRFToken }}
          <input type="hidden" name="form_action" value="submit_otp" />
          <input type="text" />
          <input type="submit" />
        </form>
      </details>

      <style>
        #toggle {
          display: none;
        }

        /* #checkbox {
          display: none; 
        } */

        #checkbox:checked ~ #toggle {
          display: block;
        }
      </style>
      <label for="checkbox">show form</label>
      <input type="checkbox" name="checkbox" id="checkbox" />
      <p id="toggle">this is hidden content</p>
    </body>
  </html>
{{ end }}
