{{ define "login_page" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
    </head>
    <body>
      {{ template "header_component" . }}
      {{ range .Errors }}
        <p>{{ . }}</p>
      {{ end }}
      <form action="/login" method="POST" autocomplete="off">
        {{ .CSRFToken }}
        <input type="hidden" name="form_action" value="request_otp" />
        <label>Email:</label>
        <input type="text" placeholder="enter your email address" />
        <input type="submit" />
      </form>
      <p>Enter your email address to receive a One Time Password via email.</p>
      <p>This password will last for five minutes.</p>
      <p>Don't have an account? <a href="/signup">Sign up!</a></p>

      <form action="/login" method="POST">
        {{ .CSRFToken }}
        <input type="hidden" name="form_action" value="submit_otp" />
        <label>Submit One Time Password:</label>
        <input type="text" />
        <input type="submit" />
      </form>
    </body>
  </html>
{{ end }}
