{{ define "profile" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
      <script defer src="static/profile_page.js"></script>
      {{ .CsrfToken }}
    </head>
    <body>
      {{ template "header_component" . }}
      <p>profile</p>
      <button id="logout_button">logout</button>
      <p id="logout_error_block"></p>
    </body>
  </html>
{{ end }}
