{{ define "search_box_component" }}
  <div>
    <h2>search box</h2>
    <form>
      <div>
        <input
          type="checkbox"
          id="noGenreCheck"
          class="genre-check"
          value="No Genre"
        />
        <label for="nogGenreCheck">No Genre</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Action</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Adventure</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Comedy</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Drama</label>
        {{ if .UserIsAdult }}
          <input
            type="checkbox"
            id="actionCheck"
            class="genre-check"
            value="Erotica"
          />
          <label for="actionCheck">Erotica</label>
        {{ end }}
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Fantasy</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Literary Fiction</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Magical Realism</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Mystery</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Romance</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Action</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Action</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Action</label>
        <input
          type="checkbox"
          id="actionCheck"
          class="genre-check"
          value="Action"
        />
        <label for="actionCheck">Action</label>
      </div>
      <input type="submit" value="search" />
    </form>
  </div>
{{ end }}
