{{ define "signup_page" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      {{ template "globals_component" }}
    </head>
    <body>
      {{ template "header_component" }}
      <form action="/signup" method="POST">
        {{ .CsrfToken }}
        <input type="hidden" name="form_action" value="request_otp" />
        <label for="enter_email">Email:</label>
        <input type="text" name="enter_email" />
        <input type="submit" />
      </form>
      {{ range .Errors }}
        <p>{{ . }}</p>
      {{ end }}
      {{ if .OtpRequested }}
        <form action="/signup">
          {{ .CsrfToken }}
          <input type="hidden" name="form_action" value="submit_otp" />
          <label for="enter_otp">Enter One Time Password:</label>
          <input type="text" name="enter_otp" />
          <input type="submit" />
        </form>
      {{ end }}
      <p>Already have an account? <a href="/login">Login</a>.</p>
    </body>
  </html>
{{ end }}
