{{ define "signup_verify_otp_page" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
        {{template "header_component"}}
        <input type="text" disabled="true" value="email" />
      <form action="signup/verify-otp" method="POST">
        <label for="enter-otp">Enter One Time Password:</label>
        <input type="text" id="enter-otp" />
        <input type="submit" />
      </form>
    </body>
    </body>
  </html>
{{ end }}
