{{ define "signup_page" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      {{ template "globals_component" }}
      <script defer src="static/signup_page.js"></script>
      <link rel="stylesheet" href="static/signup_page.css" />
      {{ .CsrfToken }}
    </head>
    <body>
      {{ template "header_component" }}

      <form id="request_otp_form">
        <fieldset id="request_otp_form_fieldset">
          <label for="enter_email">Email:</label>
          <input type="text" id="enter_email"/>
          <input type="submit" />
        </fieldset>
      </form>

      <p id="request_otp_error_block"></p>
      
      <div id="submit_otp_container" hidden>
        <form id="submit_otp_form">
          <label for="enter_otp">Enter One Time Password:</label>
          <input type="text" id="enter_otp" />
          <input type="submit" />
        </form>
        <p id="submit_otp_error_block"></p>

        <p>
          Is your email incorrect? <button id="reset_flow_button">Start over</button>.</p>
        </p>
      </div>

      <p>Already have an account? <a href="/login">Login</a>.</p>
    </body>
  </html>
{{ end }}
