{{ define "edit_writing_page" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      {{ template "globals_component" . }}
      <script defer src="/internal/web/static/js/edit_writing_page.js"></script>

      {{ .CsrfToken }}
    </head>
    <body class="{{ .LoggedInClass }}">
      {{ template "header_component" . }}


      <div id="page_container">
        {{ template "sidebar_component" . }}
        <div id="page_content">edit writing</div>
      </div>

      {{ template "footer_component" . }}
    </body>
  </html>
{{ end }}
