{{ define "home" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
      <link rel="stylesheet" href="/internal/web/static/home_page.css" />
    </head>
    <body class="{{ .LoggedInClass }}">
      {{ template "header_component" . }}


      <div id="page_container" class="{{ .LoggedInClass }}">
        {{ template "sidebar_component" . }}
        <div id="page_content" class="{{ .LoggedInClass }}">
          {{ range .CardContentCategories }}
            {{ template "browse_card_container_component" . }}
          {{ else }}
            <p>There is no data to show</p>
          {{ end }}
        </div>
      </div>

      {{ template "footer_component" . }}
    </body>
  </html>
{{ end }}
