{{ define "home" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
      <link rel="stylesheet" href="/internal/web/static/css/home_page.css" />
      <link
        rel="stylesheet"
        href="/internal/web/static/css/browse_card_container_component.css"
      />
      <link
        rel="stylesheet"
        href="/internal/web/static/css/card_content_component.css"
      />
      {{ .CsrfToken }}
    </head>
    <body class="{{ .LoggedInClass }}">
      {{ template "header_component" . }}


      <div id="page_container" class="{{ .LoggedInClass }}">
        {{ template "sidebar_component" . }}
        <div id="page_content" class="{{ .LoggedInClass }}">
          <h2>What would you like to do?</h2>
          <div>
            <a href="/browse">Browse</a>
            <a href="/search">Search</a>
            {{ if .LoggedIn }}
              <a href="/write">Write</a>
            {{ else }}
              <a href="/login">Login</a>
            {{ end }}
          </div>
          {{ if .LoggedIn }}
            <h2>Go to:</h2>
            <div>
              <a href="/my-subscriptions">My Subscriptions</a>
              <a href="/my-writing">My Writing</a>
              <a href="/my-library">My Library</a>
              <a href="/profile">My Profile</a>
            </div>
          {{ end }}
        </div>
      </div>

      {{ template "footer_component" . }}
    </body>
  </html>
{{ end }}
