{{ define "my_creators_page" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      {{ template "globals_component" }}
    </head>
    <body>
      {{ template "header_component" . }}


      <div id="page_container">
        {{ template "sidebar_component" . }}
        <div id="page_content"></div>
      </div>

      {{ template "footer_component" . }}
    </body>
  </html>
{{ end }}
