{{ define "profile" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
      <script defer src="/internal/web/static/js/profile_page.js"></script>
      {{ .CsrfToken }}
    </head>
    <body class="{{ .LoggedInClass }}">
      {{ template "header_component" . }}


      <div id="page_container" class="{{ .LoggedInClass }}">
        {{ template "sidebar_component" . }}
        <div id="page_content" class="{{ .LoggedInClass }}">
          <p>profile</p>
          <div>
            <button id="logout_button">logout</button>
            <p id="logout_error_block"></p>
          </div>
          <div>
            <h2>My Creators</h2>
            <div>
              <h3>Add New Creator Profile:</h3>
              <form></form>
            </div>
            <div>
              <h3>My Creator Profiles:</h3>
              <div>
                {{ range .MyCreators }}
                  <article>
                    <p>{{ .Name }}</p>
                    <p>{{ .CreatorHandle }}</p>
                    <a href="/my-creator/{{ .UUID }}">view</a>
                    <a href="/my-creator/{{ .UUID }}/edit">edit</a>
                  </article>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ template "footer_component" . }}
    </body>
  </html>
{{ end }}
