{{ define "profile" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {{ template "globals_component" }}
      <script defer src="/internal/web/static/js/profile_page.js"></script>
      {{ .CsrfToken }}
    </head>
    <body class="{{ .LoggedInClass }}">
      {{ template "header_component" . }}


      <div id="page_container" class="{{ .LoggedInClass }}">
        {{ template "sidebar_component" . }}
        <div id="page_content" class="{{ .LoggedInClass }}">
          <p>profile</p>
          <div>
            <button id="logout_button">logout</button>
            <p id="logout_error_block"></p>
          </div>
          <div>
            <div>
              <h2>Profile Information</h2>
              <a href="/profile/edit">edit</a>
              <div>
                <p>
                  Username:
                  {{ if eq .UserInfo.Username "" }}
                    <em>you haven't set up a user name yet.</em>
                  {{ else }}
                    {{ .UserInfo.Username }}
                  {{ end }}
                </p>
                <p>
                  User Handle:
                  {{ if eq .UserInfo.UserHandle "" }}
                    <em>you haven't set up a user handle yet.</em>
                  {{ else }}
                    @{{ .UserInfo.UserHandle }}
                  {{ end }}
                </p>
                <p>
                  Adult:
                  {{ if .UserInfo.IsAdult }}
                    Yes
                  {{ else }}
                    No
                  {{ end }}
                </p>
                <p>
                  Reading History:
                  {{ if .UserInfo.ReadingHistory }}
                    On
                  {{ else }}
                    Off
                  {{ end }}
                </p>
              </div>
            </div>
            <div>
              <h2>Edit Email</h2>
              <a href="/profile/edit/email">edit</a>
            </div>
            <div>
              <h2>My Creators</h2>
              <div>
                <h3>Add New Creator Profile:</h3>
                <form id="new_creator_form">
                  <label for="new_creator_name_input">Name:</label>
                  <input type="text" id="new_creator_name_input" />
                  <label for="new_creator_handle_input">Handle (unique):</label>
                  <input type="text" id="new_creator_handle_input" />
                  <input type="submit" value="create" />
                </form>
                <p id="new_creator_message_block"></p>
              </div>
              <div>
                <h3>My Creator Profiles:</h3>
                <div id="my_creators_container">
                  {{ range .MyCreators }}
                    <article>
                      <p>{{ .Name }}</p>
                      <p>@{{ .CreatorHandle }}</p>
                      <a href="/my-creator/{{ .UUID }}">view</a>
                      <a href="/my-creator/{{ .UUID }}/edit">edit</a>
                    </article>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <div>
            <h2>Delete Account</h2>
            <p>
              Deleting your account will remove all creator profile and all
              writing that you have created and will clear your entire library.
            </p>
            <p>
              The only data that will remain are you donations, which we
              preserve for financial recording keeping. However, they will no
              longer be linked to any information in your profile.
            </p>
            <button id="delete_account_button">Delete Account</button>
            <p id="delete_account_message_block"></p>
          </div>
        </div>
      </div>

      {{ template "footer_component" . }}
    </body>
  </html>
{{ end }}
